<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>タイトル</title>
</head>
<body>
    <form action="/" method="POST">
        <label>名前：<input type="text" name="target_name"></label>
        <label>年齢：<input type="text" name="target_age"></label>
        <input type="submit" value="送信">
    </form>
    
    <p><%= Time.now %></p>
    <% name = params['target_name'] %>
    <% age = params['target_age'] %>

    <p>こんにちは、<%= name %>さん(<%= age %>)</p>
    <% time_japan = Time.now.getlocal("+09:00") %>
    <p>今は<%= time_japan.hour %>時です</p>
    <% if 6 <= time_japan.hour && time_japan.hour < 12 %>
      <p>おはよう<%= name %>さん(<%= age %>)</p>
    <% elsif 12 <= time_japan.hour && time_japan.hour < 18 %>
      <p>こんにちは<%= name %>さん(<%= age %>)</p>
    <% else %>
      <p>こんばんは<%= name %>さん(<%= age %>)</p>
    <% end %>

    <ul>
      <% (1..9).each do |num| %>
        <p><%= num %></p>
      <% end %>
    </ul>
    
</body>
</html>